.img-thumbnail {
  margin: 25px;
  width: 85%;
  height: 85%;
}

.card-body {
  padding: 0 25px;
}

.card-footer {
  padding: 10 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-top: none;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.6);
}